.collection-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.collection-view-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 8px;
}
