.spot {
    padding: 0 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.spot-left {
    flex: 1;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spot-left h1 {
    font-size: 45px;
}
.spot-left p {
    color: var(--grey);
    font-size: larger;
    margin-bottom: 30px;
}
.spot-right {
    flex: 1;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spot-image {
    width: auto;
    max-height: 400px;
}