.collection-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.collection-actions-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.collection-actions-content-div h2 {
  color: var(--blue);
  margin-bottom: 4px;
}

.collection-actions-content-div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection-actions-content-div div input {
  margin-left: 10px;
}
