.collection-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.collection-options-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.collection-options-content-div h2 {
  color: var(--blue);
  margin-bottom: 4px;
}

.collection-options-content-div div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collection-options-content-div div input {
    margin-left: 10px;
}

.collection-options-edit-button {
    margin-left: 10px;
}

.collection-options-edit-button:hover {
  cursor: pointer;
}


.collection-options-page-modal {
  position: relative;
  box-sizing: border-box;
  width: 40vw;
  height: 40vh;
  margin-left: calc(60vw / 2);
  margin-top: calc(60vh / 2);
  border-radius: 8px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding: 30px;
}

.collection-options-page-modal h1 {
  margin-bottom: 8px;
}

.collection-options-page-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.7);
}