:root {
  --blue: #1138f7;
  --dark-blue: #2440C9;
  --grey: #7f7f7f;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  height: 1px;
  background-color: var(--grey);
  border: none;
}

.view {
  margin-top: 80px;
  width: calc(100vw - 600px);
  padding: 0 300px;
  background-color: whitesmoke;
}

.shadow {
  box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
  -webkit-box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
}
