:root {
  --blue: #1138f7;
  --success: #07bc0c;
  --warning: #f1c40f;
  --danger: #e81600;
  --dark-blue: #2440C9;
  --grey: #7f7f7f;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  height: 1px;
  background-color: var(--grey);
  border: none;
}

.view {
  padding-top: 80px;
  padding-left: 300px;
  padding-right: 300px;
  width: 100vw;
  background-color: whitesmoke;
  min-height: 100vh;
  box-sizing: border-box;
}

.view-small-border {
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100vw;
  background-color: whitesmoke;
  min-height: 100vh;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
  -webkit-box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 3px 5px 3px 0px rgba(0,0,0,0.26);
}

.c-success {
  color: var(--success);
}

.c-warning {
  color: var(--warning);
}

.c-danger {
  color: var(--danger);
}

.c-def {
  color: var(--blue)
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}